.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background: #e9e4e4;

}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

._form {
  display: flex;
  flex-direction: column;
}

._label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 9px;
  margin-right: 0px;
  box-shadow: 0px 2px 1px white;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
.waight_input{
  width: 138px;
  padding: 10px 0px;
  border-radius: 9px 0px 0px 9px;
  border: 1px solid #ccc;
}
.waight_salect{
  width:70px ;
  padding: 11px 0px;
  background:#ccc;
  border: 1px solid #ccc;
  border-radius: 0px 9px 9px 0px ;
}

.button:hover {
  background-color: #0056b3;
}
.combined-input {
  display: flex;
  align-items: center;
}
.combined-input input,
.combined-input select {
  margin: 0 5px;
  padding: 1000px;
}
