services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./farms-to-market
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
